<!DOCTYPE html>
<html>
  <head>
    <title>BLUD BUD</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <nav>
      <div class="left-nav">BLUD BUD</div>
      <div class="right-nav">
        <a href="#vision">Vision</a>
        <a href="#login">Login</a>
      </div>
    </nav>
    <div id="content">
      <!-- Add your content here -->
    </div>
  </body>
</html>
